// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.test {
    color: blue;
}

.to-fade-out {
    opacity: 0;
    transition: opacity 1s linear; // <- the last value defines transition-delay
}


.to-fade-in {
    opacity: 1;
    transition: opacity 1s linear 1.5s; // <- the last value defines transition-delay
}

// .to-hide {
//     display: none;
//     transition: all 200ms linear 2s; // <- the last value defines transition-delay

// }

.hide {
    opacity: 0;
}






.text-green {
    color: $my-green;
}

// BUTTONS 

.btn-outlined-green {
    background-color: white;
    color: $my-green !important;
    border: 1px solid $my-green !important;
    font-weight: 400 !important;

    &:hover {
        background-color: #52b58705 !important;
        font-weight: 700 !important;
    }
}

.btn-contained-green {
    
}